/*----------------------------------checkbox--------------------------------*/
.checkbox {
    background-color: inherit;
    &._error .checkbox__label::before {
        border: 1px solid red;
    }
    &__input {
        display: none;
        &:checked + .checkbox__label::after {
            transform: rotate(45deg) scale(1);
        }
    }
    &__label {
        font-size: 13px;
        line-height: 120%;
        display: inline-flex;
        align-items: center;
        width: 100%;
        position: relative;
        cursor: pointer;
        &__text {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 0.5rem;
            white-space: nowrap;
        }
        &::before {
            content: '';
            align-self: flex-start;
            flex: 0 0 16px;
            height: 16px;
            margin-right: 0.5rem;
            border: 1px solid var(--primary-blue);
            border-radius: 4px;
            background: #fff;
            position: relative;
            top: -1px;
        }
        &::after {
            content: '';
            position: absolute;
            width: 6px;
            height: 12px;
            border: solid var(--primary-blue);
            border-width: 0 2px 2px 0;
            top: -1px;
            left: 5px;
            transform: rotate(45deg) scale(0);
            transition: transform 0.2s ease-in-out;
        }
    }
    &__link {
        display: inline-block;
        text-decoration: underline dotted;
    }
}


/*----------------------------------checkbox--------------------------------*/