/*----------------------------------form--------------------------------*/
.form {
    max-width: 100%;
    margin: 0 auto;
    color: var(--color-black);
    padding: 2rem 3.8rem;
    background-color: var(--color-white);
    border-radius: 5px;
    margin-bottom: 1rem;
    position: relative;
    box-shadow: 0 4px 12px 0 #e1ecf0;
    @include table {
        padding: 1.25rem 1rem;
    }
    &__title {
        @include fluid-text(20, 30);
        margin-bottom: 2rem;
        line-height: 100%;
        font-weight: 700;
        span {
            color: var(--primary-blue);
        }
        @include mobile {
            text-align: center;
        }
    }
    &__label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.3rem;
        margin-bottom: 1.25rem;
        @include mobile {
            flex-wrap: wrap;
        }
    }
    &__input {
        width: 100%;
        border: 1px solid var(--divider);
        padding: 1.1rem 1.3rem;
        border-radius: 8px;
        transition: all 0.3s ease 0s;
        &::placeholder {
            color: #95979D;
            @include fluid-text(14, 17);
        }
        &:focus {
            box-shadow: 0 0 15px var(--primary-blue-disabled);
        }
        &._error {
            border: 1px solid var(--primary-red-hover);
        }
        @include mobile {
            padding: 0.8rem;
        }
        &-surname {
            margin-bottom: 1rem;
        }
    }
    &__textarea {
        width: 100%;
        border: 1px solid var(--divider);
        padding: 1.1rem 1.3rem;
        border-radius: 8px;
        min-height: 7rem;
        margin-bottom: 1rem;
        &::placeholder {
            color: #95979D;
            @include fluid-text(14, 17);
        }
    }
    &__error {
        font-size: 0.7rem;
        color: var(--primary-red-hover);
        opacity: 0;
    }
    &__button {
        width: 100%;
        padding: 1rem;
        background-color: var(--primary-blue);
        cursor: pointer;
        color: var(--color-white);
        border-radius: 30px;
        font-weight: 800;
        @include fluid-text(17, 19);
        @include hover {
            background-color: var(--primary-blue-hover);
        }
        &:active {
            background-color: var(--primary-blue-disabled);
        }
    }
    &__text {
        color: #A9A9A9;
        @include fluid-text(11, 13);
        margin-bottom: 1rem;
        &-link {
            display: inline;
            text-decoration: underline dotted;
            text-underline-offset: 4px;
        }
        @include mobile {
            text-align: center;
        }
    }
    &--mod {
        .btn {
            max-width: 17rem;
            margin-bottom: 1rem;
            @include mobile {
                max-width: 100%;
            }
        }
    }
    &__radio-buttons {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        margin-bottom: 1.3rem;
        color: #95979D;
        @include mobile {
            flex-wrap: wrap;
        }
    }
}
/*----------------------------------form--------------------------------*/