/*----------------------------------global--------------------------------*/
body.lock {
    overflow: hidden;
}
body { 
    font-family: var(--font-family-base); 
    font-size: 1rem;
    font-weight: 400; 
    color: var(--color-black); 
    background: var(--color-white);
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}
.main {
    flex: 1 1 auto;
}
._container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0rem 0.6rem;
}
.section {
    padding: 2rem 0rem 4rem 0rem;
    @include table {
        padding: 2rem 0rem;
    }
}
._ibg {
    position: relative;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}
.title {
    @include fluid-text(24, 50);
    line-height: 130%;
    text-transform: uppercase;
    font-weight: 700;
}
.title-secondary {
    @include fluid-text(24, 38);
    line-height: 100%;
    text-transform: uppercase;
    font-weight: 700;
    @include mobile {
        text-align: center;
    }
    &--mod {
        @include fluid-text(24, 30);
    }
}
.subtitle {
    @include fluid-text(22, 40);
    line-height: 120%;
    font-weight: 600;
}
.text {
    @include fluid-text(14, 18);
    color: var(--secondary-text);
    line-height: 140%;
}
.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    text-align: center;
    @include fluid-text(15, 19);
    font-weight: 700;
    
}
.btn-outline {
    border: 1px solid var(--primary-red);
    background-color: var(--color-white);
    @include hover {
        color: var(--color-white);
        background-color: var(--primary-red);
    }
    &:active {
        background-color: var(--primary-red-disabled);
    }
}
.btn-filled {
    background-color: var(--primary-red);
    border: 1px solid var(--color-orange);
    color: var(--color-white);
    box-shadow: 0 10px 26px 0 rgba(255, 77, 98, 0.2);
    @include hover {
        background-color: var(--primary-red-hover);
    }
    &:active {
        background-color: var(--primary-red-disabled);
    }
}
.price {
    background-color: #EAF3F5;
    padding: 3rem 0rem;
    .form {
        margin-bottom: 0rem;
    }
}
/*----------------------------------global--------------------------------*/