/*----------------------------------header--------------------------------*/
.header {
    position: fixed;
    width: 100%;
    background-color: var(--color-white);
    padding-top: 36px;
    z-index: 999;
    @include table {
        padding-top: 2.8rem;
    }
    &__content {
        position: relative;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
        @include desktop {
            gap: 2rem;
        }
    }
    &__inner {
        border-bottom: 1px solid var(--divider);
        padding-bottom: 36px;
        @include table {
            border-top: 1px solid var(--divider);
            border-bottom: none;
            padding-top: 1.3rem;
        }
    }
    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        @include table {
            display: block;
        }
    }
    &__logo {
        z-index: 3; 
    }
    &__link {
        transition: All 0.3s ease 0s;
        @include hover {
            color: var(--color-black);
        }
    }
    &__box {
        text-align: center;
        @include table {
            position: absolute;
            top: -2.2rem;
        }
        &-link {
            font-weight: 800;
            @include fluid-text(15, 22);
            margin-bottom: 0.625rem;
            display: flex;
            align-items: center;
            gap: 0.3rem;
        }
        &-text {
            @include table {
                display: none;
            }
        }
    }
    &__city {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 5px;
        &-name {
            color: #202020;
            font-weight: 600;
            font-size: 18px;
            line-height: 140%;
            text-decoration: underline dotted;
            text-underline-offset: 4px;
        }
    }
    &__box--mod {
        right: 0.625rem;
    }
    &__wrapper--mod {
        @include table {
            padding-top: 1rem;
            justify-content: end;
        }
        .header__messengers {
            @include table {
                order: 1;
            }
        }
    }
    &__messengers {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
    }
    &__callback {
        @include mobile {
            width: 100%;
        }
    }
}

/*----------------------------------header--------------------------------*/