/*----------------------------------radio-buttons--------------------------------*/
.radio-container {
  display: flex;
  gap: 10px;
  @include mobile {
    flex-wrap: wrap;
    width: 100%;
}
}
input[type="radio"] {
  display: none;
}
.radio-container label {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
  background-color: #F0F0F0;
  @include mobile {
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
}
}
input[type="radio"]:checked + label {
  color: var(--color-white);
}
#positive:checked + label {
  background-color: #24A7D6;
  border-color: #24A7D6;
}
#negative:checked + label {
  background-color: #FF4C62;
  border-color: #FF4C62;
}

/*----------------------------------radio-buttons--------------------------------*/