  /*---------------------------------------tabs----------------------------*/
  .tabs {
    display: flex;
    justify-content: space-between;
    gap: 1rem 4rem;
    align-items: stretch;
    @include table {
      gap: 1rem;
    }
  }
  .tab-labels {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.8rem 5rem;
    border-radius: 6px;
    order: 1;
    flex-basis: 28rem;
    @include table {
      display: none;
    }
  }
  .tab-label {
    padding: 1.2rem;
    cursor: pointer;
    border: 1px solid transparent;
    transition: background-color 0.3s, border-color 0.3s;
    width: 100%;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.3rem;
    border: 1px solid var(--divider);
    border-radius: 10px;
    height: 100%;
    @include table {
      padding: 0.6rem;
  }
  }
  .tab-label:hover {
    background-color: #EAF3F5;
  }
  .tab-label:hover .articles__info-link {
    color: var(--primary-blue);
  }
  .tab-content {
    display: none;
  }
  #tab-1:checked ~ .content-1,
  #tab-2:checked ~ .content-2,
  #tab-3:checked ~ .content-3,
  #tab-4:checked ~ .content-4,
  #tab-5:checked ~ .content-5,
  #tab-6:checked ~ .content-6,
  #tab-7:checked ~ .content-7,
  #tab-8:checked ~ .content-8,
  #tab-9:checked ~ .content-9  {
    display: flex;
    flex-basis: 55rem;
  }
  #tab-1:checked ~ .tab-labels label[for="tab-1"],
  #tab-2:checked ~ .tab-labels label[for="tab-2"],
  #tab-3:checked ~ .tab-labels label[for="tab-3"],
  #tab-4:checked ~ .tab-labels label[for="tab-4"],
  #tab-5:checked ~ .tab-labels label[for="tab-5"],
  #tab-6:checked ~ .tab-labels label[for="tab-6"],
  #tab-7:checked ~ .tab-labels label[for="tab-7"],
  #tab-8:checked ~ .tab-labels label[for="tab-8"],
  #tab-9:checked ~ .tab-labels label[for="tab-9"]  {
    display: flex;
  }
  /* Скрываем сами радиокнопки */
  input[type="radio"] {
    display: none;
  }

  /*---------------------------------------tabs----------------------------*/