@font-face {
    font-family: 'Wix';
    src: url('../fonts/WixMadeforText-Regular.woff2') format(woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Wix';
    src: url('../fonts/WixMadeforText-Medium.woff2') format(woff2);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Wix';
    src: url('../fonts/WixMadeforText-SemiBold.woff2') format(woff2);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Wix';
    src: url('../fonts/WixMadeforText-Bold.woff2') format(woff2);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Wix';
    src: url('../fonts/WixMadeforText-ExtraBold.woff2') format(woff2);
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}