* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

a:focus,
a:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  font-size: 100%;
  line-height: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100dvh;
  min-width: 320px;
  scroll-behavior: smooth;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  font-size: inherit;
  color: inherit;
  display: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

address, cite {
  font-style: normal;
}

@font-face {
  font-family: "Wix";
  src: url("../fonts/WixMadeforText-Regular.woff2") format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Wix";
  src: url("../fonts/WixMadeforText-Medium.woff2") format(woff2);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Wix";
  src: url("../fonts/WixMadeforText-SemiBold.woff2") format(woff2);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Wix";
  src: url("../fonts/WixMadeforText-Bold.woff2") format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Wix";
  src: url("../fonts/WixMadeforText-ExtraBold.woff2") format(woff2);
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
:root {
  --primary-text: #0F0F0F;
  --secondary-text: #5E5E5E;
  --secondary-text-disabled: #ACA8A8;
  --color-white: #FFFFFF;
  --color-gray: #F3F3F3;
  --primary-blue: #24A7D6;
  --primary-blue-hover: #0095CB;
  --primary-blue-disabled: #88CBE3;
  --primary-red: #FF4C62;
  --primary-red-hover: #FF334C;
  --primary-red-disabled: #F9BCC3;
  --divider: #E3E3E3;
  --border: 1px solid var(--color-black);
  --border-radius: 1rem;
  --border-radius-small: 0.4rem;
  --shadow: 0px 0px 20px 0px var(--color-black);
  --font-family-base: "Wix", Arial, sans-serif;
  --container-width: 78.1rem;
}

/*----------------------------------header--------------------------------*/
.header {
  position: fixed;
  width: 100%;
  background-color: var(--color-white);
  padding-top: 1rem;
  z-index: 999;
}
@media (max-width: 64rem) {
  .header {
    padding-top: 2.8rem;
  }
}
.header__content {
  position: relative;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
@media (max-width: 80rem) {
  .header__wrapper {
    gap: 2rem;
  }
}
.header__inner {
  border-bottom: 1px solid var(--divider);
  padding-bottom: 1rem;
}
@media (max-width: 64rem) {
  .header__inner {
    border-top: 1px solid var(--divider);
    border-bottom: none;
    padding-top: 1.3rem;
  }
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 64rem) {
  .header__body {
    display: block;
  }
}
.header__logo {
  z-index: 3;
}
.header__link {
  transition: All 0.3s ease 0s;
}
@media (hover: hover) {
  .header__link:hover {
    color: var(--color-black);
  }
}
.header__box {
  text-align: center;
}
@media (max-width: 64rem) {
  .header__box {
    position: absolute;
    top: -2.2rem;
  }
}
.header__box-city {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.3rem;
}
.header__box-city span {
  color: #202020;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  text-underline-offset: 4px;
}
.header__box-link {
  font-weight: 800;
  font-size: clamp(0.9375rem, 1.7886178862vw, 1.375rem);
  margin-bottom: 0.625rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
@media (max-width: 64rem) {
  .header__box-text {
    display: none;
  }
}
.header__box--mod {
  right: 0.625rem;
}
@media (max-width: 64rem) {
  .header__wrapper--mod {
    padding-top: 1rem;
    justify-content: end;
  }
}
@media (max-width: 64rem) {
  .header__wrapper--mod .header__messengers {
    order: 1;
  }
}
.header__messengers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}
@media (max-width: 48rem) {
  .header__callback {
    width: 100%;
  }
}

/*----------------------------------header--------------------------------*/
/*----------------------------------menu--------------------------------*/
.menu {
  padding: 1rem 0rem;
}
.menu ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.8rem 2rem;
}
.menu__link {
  line-height: 120%;
  position: relative;
  font-size: clamp(1rem, 1.7073170732vw, 1.3125rem);
  transition: All 0.3s ease 0s;
}
@media (hover: hover) {
  .menu__link:hover {
    color: var(--primary-blue-hover);
  }
}
@media (max-width: 64rem) {
  .menu {
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    background: var(--color-white);
    padding: 7rem 2rem 2rem 2rem;
    transition: All 0.5s ease 0s;
    overflow: auto;
    z-index: 9;
  }
  .menu._active {
    top: 0;
  }
  .menu__list-item:not(:last-child) {
    margin-bottom: 2rem;
  }
  .menu ul {
    display: block;
    text-align: center;
    position: relative;
  }
  .menu ul li {
    margin-bottom: 1.3rem;
  }
}

/*----------------------------------menu--------------------------------*/
/*----------------------------------burger--------------------------------*/
.burger {
  display: none;
}
@media (max-width: 64rem) {
  .burger {
    width: 36px;
    height: 36px;
    flex: 0 0 auto;
    border-radius: 50%;
    position: relative;
    display: block;
    z-index: 999;
    cursor: pointer;
  }
  .burger__line {
    height: 2px;
    width: 21px;
    position: absolute;
    transition: all 0.3s ease 0s;
    background: #000;
    transform: translate(-50%, -50%);
    border-radius: 1px;
  }
  .burger__line:first-child {
    left: 50%;
    top: 25%;
  }
  .burger__line:nth-child(2) {
    left: 50%;
    top: 50%;
  }
  .burger__line:last-child {
    left: 50%;
    top: 75%;
  }
  .burger._active .burger__line:nth-child(2) {
    opacity: 0;
  }
  .burger._active .burger__line:first-child {
    transform: rotate(-45deg);
    left: 30%;
    top: 50%;
  }
  .burger._active .burger__line:last-child {
    transform: rotate(45deg);
    left: 30%;
    top: 50%;
  }
}

/*----------------------------------burger--------------------------------*/
/*----------------------------------main-section--------------------------------*/
.main-section {
  margin-top: 9rem;
  position: relative;
}
@media (max-width: 64rem) {
  .main-section {
    margin-top: 13.5rem;
  }
}
.main-section__content {
  position: relative;
  z-index: 2;
}
.main-section__content .title {
  margin-bottom: 2rem;
}
@media (max-width: 48rem) {
  .main-section__content .title {
    text-align: center;
    margin: auto;
    margin-bottom: 2.5rem;
  }
}
.main-section__body {
  display: flex;
  align-items: center;
  gap: 2.5rem 5rem;
}
@media (max-width: 48rem) {
  .main-section__body {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.main-section__info {
  max-width: 30rem;
}
.main-section__list ul li {
  margin-bottom: 0.625rem;
  position: relative;
  padding-left: 1.3rem;
}
.main-section__list ul li::before {
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  top: 0.25rem;
  left: 0;
  background-color: var(--primary-red);
  border-radius: 50%;
}
.main-section__image {
  margin-bottom: -7.5rem;
  margin-top: -2rem;
  flex-basis: 32rem;
}
@media (max-width: 64rem) {
  .main-section__image {
    margin-top: 0rem;
    margin-bottom: -7rem;
  }
}
@media (max-width: 48rem) {
  .main-section__image {
    margin-top: -3rem;
    margin-bottom: -6.5rem;
  }
}
.main-section__image--mod {
  margin-bottom: -8rem;
}
@media (max-width: 48rem) {
  .main-section__image--mod {
    margin-bottom: -6.5rem;
  }
}
.main-section__form {
  margin-bottom: -5rem;
}
@media (max-width: 64rem) {
  .main-section__form {
    margin-bottom: 0rem;
  }
}
.main-section__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.main-section__bg img {
  width: 100%;
}
@media (max-width: 48rem) {
  .main-section--mod {
    padding-bottom: 22rem;
  }
}
@media (max-width: 48rem) {
  .main-section--m {
    padding-bottom: 12rem;
  }
}
@media (max-width: 48rem) {
  .main-section--art {
    padding-bottom: 2rem;
  }
}

/*----------------------------------main-section--------------------------------*//*# sourceMappingURL=critical.css.map */